.sttitle {
    display: flex;

    .btns {
        flex   : 1;
        display: flex;

        &:before {
            content: "";
            flex   : 1;
        }

        .btn {
            padding: 0 1.25rem;
        }
    }
}